*{
   margin: 0; 
   padding: 0; 
   box-sizing: border-box;

}

.pagina{

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows:  100px 1fr;
    grid-template-areas: 'header header '
    'sidebar contenido ';
    height: 100vh;
    


}

.pagina__header{
    grid-area: header;
    background-color: black;
}
.pagina__sidebarLeft{
    grid-area: sidebar;
    background-color: gray;
}
.pagina__contenido{
    grid-area: contenido;
    background-color: aquamarine;
}